.todo-list-container {
    max-height: 475px; /* Set the maximum height for the component */
  
  }

.listonlycontainer {
  max-height: 180px;
  margin-top: 0px;
  overflow-y: auto;  /* Add a vertical scrollbar if necessary */
}

.listonlycontainerdone {
  max-height: 150px;
  margin-top: 0px;
  overflow-y: auto;  /* Add a vertical scrollbar if necessary */
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc; 
}
.modal-title {
  font-size: 1.5rem; 
  padding-left: .2rem;
}

.modal-body *:not(.close) {
  padding-left: 0.1rem;
  padding-right: 0.15rem;
  padding-bottom: 0.1rem;
}

.modal-header .close {
  width: 1.5rem; /* Adjust the width to match the desired size */
  height: 1.5rem; /* Match the height to the width */
  font-size: 1.5rem; /* Match the font size to the width and height */
}

.close {
  display: flex;
  align-items: center;
  justify-items: center;
  color: #000;
  cursor: pointer;
  padding-right: 0.1rem;
  margin-right: 0.1rem;

}

.close:hover {
  color: #ff0000; /* Change the color on hover if desired */
}

.priority-label {
  margin-bottom: 5px; 
  margin-top: 10px;
}

.task-name {
  text-decoration: underline;
  cursor: pointer;
  /* font-size: 1em; Adjust the font size as needed */
}

.modal-footer button {
  padding: 0.2rem 0.5rem; /* Adjust the values as needed */
  margin-top: 0.2rem; /* Adjust the value as needed */
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.due-date {
  font-size: 0.7em; /*Adjust the font size as needed */
}

.buttonlabelcontainer {
  margin-bottom: 0px;
}

.form-label {
  margin-right: 10px;

  justify-content: start;
}

.descriptionBox {
  display: flex;
  align-content: flex-end;
  margin-left: 10px;
  overflow-y: auto;  /* Add a vertical scrollbar if necessary */
}